**/*.svg
package.json
dist/
yarn.lock
yarn-error.log
*.sh
*.py
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
*.prettierignore
*.jpg
*.png
*.gif
.env
.keep
CHANGELOG.md
/lib
openChrome.applescript
.npmrc
LICENSE
